body{
  background-color: rebeccapurple;
  text-align: center;
}

.card {
  margin: 15px;
  border-radius: 10px;
}

.sortForm {
  height: 150px;
  Margin: 0 0 75px 0;
}

.card img{
  max-height: 400px;
}

.sortForm label{
  font-size: 25px;
}

.Gryffindor {
  background-color: red !important;
  border-radius: 0 0px 10px 10px !important;
}

.Slytherin {
  background-color: green !important;
  border-radius: 0 0px 10px 10px !important;
}

.Ravenclaw {
  background-color: purple !important;
  border-radius: 0 0px 10px 10px !important;
}

.Hufflepuff {
  background-color: yellow !important;
  border-radius: 0 0px 10px 10px !important;
}

.DeathEaters {
  background-color: darkslategray !important;
  border-radius: 0 0px 10px 10px !important;
}

.voldemort {
  background-color: darkslategray;
  color: yellowgreen;
}
