body{
  background-color: rebeccapurple;
  text-align: center;
}

.card {
  margin: 15px;
  border-radius: 10px;
}

.sortForm {
  height: 300px;
  Margin: 0 0 100px 0;
}

.sortForm img{
  height: 300px;
  width: 300px;
}

.sortForm label{
  font-size: 25px;
}
